{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">
            <table id="table_id" class="display" data-delete-token="{{ csrf_token('delete'~user) }}"></table>
        </div>
    </div>

    <a href="{{ path('data_datatable') }}"></a>



{% endblock %}
